{% extends 'base.html' %}

{% block content %}
<section class="bg-dark text-white text-center py-3">
    <h2>Our Collection</h2>
</section>
<div class="container text-center py-5">
    <h2 class="text-success">Order Placed Successfully!</h2>
    <a href="{% url 'shop' %}" class="btn btn-warning mt-3">Continue Shopping</a>
</div>
<div class="container py-5">
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card product-card h-100 shadow">

                <div class="overflow-hidden">
                    <img src="{{ product.image.url }}" class="card-img-top product-img">
                </div>

                <div class="card-body text-center">
                    <h5>{{ product.name }}</h5>
                    <p>{{ product.description|truncatewords:10 }}</p>
                    <h6 class="text-warning">Rs. {{ product.price }}</h6>

                    <a href="{% url 'add_to_cart' product.id %}" 
                       class="btn btn-warning mt-2">Add to Cart</a>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>

<style id="premium_style">
.product-card {
    transition: 0.3s;
}
.product-card:hover {
    transform: translateY(-8px);
}
.product-img {
    height: 250px;
    object-fit: cover;
    transition: 0.3s;
}
.product-card:hover .product-img {
    transform: scale(1.05);
}
</style>

{% endblock %}